In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib as plt

from google.colab import files

uploaded = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

In [ ]:

import io

data = pd.read_csv(io.BytesIO(uploaded['StudentsPerformance.csv']))
data.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [ ]:
#see the tail of the dataset
data.tail()

     gender race/ethnicity  ... reading score writing score
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[5 rows x 8 columns]

In [ ]:
#count of different values of race/ethinicity
data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [ ]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')